.search-form {
  display: flex;
  margin-top: 2rem;
  box-shadow: 1px 2px 3px whitesmoke;
}

.input-group {
  display: flex;
  flex-flow: column;
  position: relative;
  flex: 1;
}

.input-group .label {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  padding-top: 20px;
}

.control {
  font-size: 1.5em;
  background-color: rgba(245, 245, 245, 0.2);
  border-radius: 5px;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  outline: none;
  margin: 5px 0;
  padding: 8px 16px ;
}

.form-actions {
  text-align: center;
  display: flex;
  flex-flow: row;
}

.button-search {
  cursor: pointer;
  padding: 8px 16px ;
  border: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5em;
  background-color: darkcyan;
  color: white;
  border-radius: 2px;
  transition: all 0.5s ease;
}

.button-search:disabled {
    background-color: rgba(0, 139, 139, 0.5);
}